@keyframes alertFadeOut {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.bounce {
  animation-name: alertFadeOut;
  transform-origin: center bottom;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
@-webkit-keyframes loading{
  0%  {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes loading{
  0%  {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
