.mini-category {
  ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px 5px 0px;
    li {
      flex: 1;
      text-align: center;
      cursor: pointer;
      a {
        display: block;
      }
    }
    .icons {
      margin: auto;
      padding-bottom: 2px;
      display: -webkit-flex;
      display: -moz-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 100%;
      .tags {
        padding-top: 5px;
      }
    }
  }
}
