.mini-counter {
  label {
    display: inline-flex;
    height: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  span {
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #333;
  }
  div {
    position: relative;
    padding: 0;
    width: 48px;
    line-height: 26px;
    text-align: center;
    border: none;
    color: #333;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 0;
  }
  .disabled {
    background: #ebebeb;
    color: #999;
  }
}
